body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
} 

#sold-items, #pre-checkout {
    width: 610px;
    margin: auto auto;
}

#pre-checkout {
    font-size: 20px;
    font-weight: bold;
}

#pizza-price, #hamburger-price, #beer-price {
    padding-left: 20px;
}

.number-of-items {
    color: #999999
}

.remove-item {
    background-color: white;
    padding-left: 20px;
    border: none;
    font-weight: bold;
    color: #999999
}

.remove-item:hover {
    cursor: pointer;
    color: #E11D48;
}

header {
    height: 150px;
    background-image: url("images/header.png");
    background-size:  cover;
}

header h1, header p {
    margin: 0;
    margin-bottom: 15px;
}

#items .item-price {
    font-weight: bold;
    color: black;
}

#items button {
    background-color:  white;
    font-size: 28px;
    border: 3px solid #DEDEDE;
    cursor: pointer;
}

#items p {
    color: #999999
}

header div {
  width: 610px;        /* or whatever size */
  margin: auto auto;      /* center horizontally */
  text-align: left;    /* keep text inside left-aligned */
    color: white;
    padding: 20px 20px;
}

#pre-checkout > h3 {
    padding-top: 40px;
    text-align: center;
}

#complete-order {
    margin-top: 30px;
    padding: 20px 0;
    width: 100%;
    font-size: 24px;
    background-color: #16DB99;
    border: none;
    color: white;
    font-weight: bold;
}

#complete-order:hover {
    cursor: pointer;
}

#price {
    border-top: 3px solid #DEDEDE;
}

h3 {
    margin: 0;
}

#items li {
    padding: 40px 0;
    border-bottom: 3px solid #DEDEDE;
}

p {
    margin-bottom: 10px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

main {
    position: relative;
}

.add-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#pre-checkout li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#price {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none !important;
}

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto auto;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 550px;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 0 0 200px 10px black;
}

#modal h3 {
    padding: 50px 0;
    font-size: 24px;
}

#modal form {
    width: 90%;
}

#modal form input {
    font-size: 32px;
    width: 100%;
    height: 70px;
    margin: 10px 0;
    border: 2px solid #757575;
}

form button {
    display: block;
    margin: auto auto;
}

#order-complete {
    font-size: 22px;
    margin: auto;
    margin-top: 60px;
    width: 610px;
    height: 120px;
    text-align: center;
    background-color: #ECFDF5;
    display: flex;
    justify-content: center;
    align-items:  center;
    color: #065F46;
}

#pay-btn {
    margin-top: 25px;
    align-self: center;
    padding: 20px 0;
    width: 100%;
    font-size: 24px;
    background-color: #16DB99;
    border: none;
    color: white;
    font-weight: bold;
}

#pay-btn:hover {
    cursor: pointer;
}

.emoji {
    font-size: 70px;
    margin: 0;
    padding-right: 50px;
}

.item-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
}
