@import "reset";

header, h1, h2 , h3, h4 {
    font-family: "Roboto Serif", serif;
}

main p {
    font-family: "Roboto Mono", monospace;
}

.post p, .about p {
    padding-bottom: 1em;
}

h1 {
    padding: .25em 0;
}

h2 {
    padding-bottom: 1em;
}

.hero a {
    color: white;
    text-decoration: none;
    padding-bottom: 1.5em;
}

.container {
    padding: 1.25rem 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-weight: bold;
    align-items: center;
}

header nav {
    text-transform: uppercase;
}

header nav a:not(:last-child) {
    padding-right: 1em;
}

svg {
    width: 40px;
    padding-right: .25em;
}

time {
    text-transform: uppercase;
}


.hero {
    background: url("/images/article-image-hero.png");
    background-size: cover;
    background-position: center top;
    color: white;
    height: 30rem;
    display: flex;
    align-items: flex-end;
}

.article {
    padding-bottom: 2.5em;
}

.article a {
    text-decoration: none;
}

.article img {
    width: 100%;
    padding-bottom: 1em;
}

.post img {
    width: 100%;
    padding-bottom: 2em;
}

.view-more {
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 800px) {
    main .article-listing.container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

    header, header p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    main p {
        font-size: 1.25rem;
    }

    .container {
        padding: 1.25rem 2rem;
    }

    .hero {
        height: 90vh;
    }

    .content {
        padding: 0 3rem;
    }

    .post img {
        height: 600px;
        object-fit: cover;
    }

    .about-info {
        display: flex;
    }

    .about-info img {
        padding: 1em;
        width: 190px;
        height: 190px;
    }

    .text-info {
        flex: 2;
        display: flex;
        flex-direction: column;
    }
}
