.name-info {
    text-align: center;
}

.name-info h1 {
    margin: 0;
    margin-top: .2em;
}

.role {
    font-size: 1.2rem;
    color: #F3BF99;
    margin-block: .5em;
}

.website {
    color: unset;
}

.contact {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-block: 1em;
    a {
        color: unset;
    }
}

.contact svg {
    width: 24px;
    height: 24px;
}

.contact .email, .contact .linkedin {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: .3em;
    padding: .5em 1em;
    border-radius: 5px;
}

.contact .email {
    background-color: white;
    color: black;
}

.contact .linkedin {
    background-color: #5093e2;
    fill: white;
}

.about h2 {
    margin-top: .3em;
}

.me-info {
    max-width: 250px;
    margin: auto;
}

.me-info h2 {
    margin-bottom: .2em;
}

.me-info p {
    margin-top: 0;
}
